@font-face {
    font-family: mah;
    src: url('fontttt.ttf');
}

body{
    font-family: mah;
    background-color: hsl(47, 88%, 63%);
    flex-direction: column;
    align-items: center;
    display: flex;
    padding-top: 100px;
}
.div1{
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    height: 415px;
    padding-top: 20px;
    border-radius: 13px;
    border: 1px solid #000;
    box-shadow: 8px 8px 0 #000;
    text-align: center;
}
.img1{
    width: 265px;
    border-radius: 10px;

    
}
.b1{
    font-family: mah;
    background-color: hsl(47, 88%, 63%);
    color: #000;
    font-weight: 800;
    padding: 4px 12px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 20px;
    margin-right: 167px;


}

.p1{
    font-size: 14px;
    margin-right: 110px;
}
.h1{
    font-size: 18px;
     margin-right: 45px;
}
.img2{

    width: 40px;
    margin-bottom: 60px;
    margin-left: 17px;


}
.h5{
    align-items: center;
    margin-left: 4px;
    margin-bottom: 78px;
}
.div3{
display: flex;
align-items: center;
gap: 12px;

}
h1:hover{
   color:hsl(47, 88%, 63%); 
    cursor: pointer;
}
.desc{
    font-size: 12px;
    margin-right: 20px;
     line-height: 1.6;
   
}